.content {
    max-width: 1170px;
    width: calc(100% - 50px);
    margin-inline: auto;
}
html {
    font-size: 6.25%;
}
body {
    font-size: 16rem;
    font-family: "Open Sans", sans-serif;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 113px;
    min-height: 52px;
    background: #212832;
    border-radius: 6px;
    padding-inline: 10px;
    transition: all 300ms ease-in-out;
    border: 2px solid transparent;
}
.btn:hover {
    background: transparent;
    color: #212832;
    border: 2px solid #212832;
}
